@import url('https://fonts.googleapis.com/css?family=Lora');

.blue {
    color: rgb(0, 0, 255);
}

.orange {
    color: rgb(255, 165, 0);
}

.red {
    color: rgb(255, 0, 0);
}

.green {
    color: rgb(0, 128, 0);
}

.pink {
    color: rgb(255, 107, 181);
}

.bold {
    font-weight: bold;
    color: #555;
}