@import url('https://fonts.googleapis.com/css?family=Lora');

.blue {
    color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.06);
    border-radius: 2px;  
}

.orange {
    color: rgb(255, 165, 0);
    background-color: rgba(255, 165, 0, 0.06);
    border-radius: 2px; 
}

.red {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.06);
    border-radius: 2px;
}

.green {
    color: rgb(0, 128, 0);
    background-color: rgba(0, 128, 0, 0.06);
    border-radius: 2px;

}