@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #333;
    background-color: #fffff6;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}